/* Global */
body{
  /*Colors can be named, hexadecimal, or rgb*/
  background-color:#f4f4f4;
  color:#555555;

/*
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
*/
  /*Same as above*/
  font: normal 14px Arial, Helvetica, sans-serif;
  line-height: 1.6em;
  margin:0;
}

.container{
  width:80%;
  margin:auto;
}

/* Clears floats above the element */
.clr{
  clear:both;
}

.button{
  background-color: #333;
  color: #fff;
  padding:10px 15px;
  border:none;
}

.button:hover{
  background:red;
  color:#fff;
}

/* Box-1 */
.box-1{
  background-color:#333333;
  color:#ffffff;

  /* Border */
  border: red solid;
  border-width:3px;

  border-right: 5px red solid ;
  border-right-style: dotted;

  /* Padding */
  padding:20px;

  /* Margin */
  margin: 20px 0;

}

.box-1 h1{
  font-family:Tahoma;
  font-weight: 800;
  font-style: italic;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  word-spacing: 1em;
}

.box-2{
  border:3px dotted #ccc;
  padding:20px;
  margin: 20px 0;
}

/* Categories */
.categories{
  border:1px #ccc solid;
  padding:10px;
  border-radius:15px;
}

.categories h2{
  text-align:center;
}

.categories ul{
  padding:0;
  padding-left: 40px;
  /*list-style: square;*/
  list-style:none;
}

.categories li{
  padding-bottom:6px;
  border-bottom: dotted 1px #333;
  list-style-image: url('../images/modified-check.png');
}

a{
  text-decoration: none;
  color: #000;
}

a:hover{
  color:red;
}
a:active{
  color:green;
}
a:visited{
}

/* standard form */
.standard-form{
  padding:20px;
}

.standard-form .form-group{
  padding-bottom:15px;
}

.standard-form label{
  display:block;
}

.standard-form input[type="text"], .standard-form textarea{
  padding:8px;
  width:100%;
}

/* Block */
.block{
  float:left;
  width:33.3%;
  border:1px solid #ccc;
  padding:10px;
  box-sizing: border-box;
}

/* Float element by ID */
#main-block{
  float:left;
  width:70%;
}

#sidebar{
  float:right;
  width:30%;
  background-color: #333;
  color:#fff;
  padding:15px;
  box-sizing: border-box;
}

/* POSITION */
.p-box{
  margin-top:30px;
  width:800px;
  height:500px;
  border:1px solid black;
  position: relative;
  background-image:url('../images/bgimage.jpg');
  background-repeat: no-repeat;
  background-position: center top;
}
.p-box h1{
  position: absolute;
  top: 40px;
  left:200px;
}

.p-box h2{
  position: absolute;
  bottom: 40px;
  right: 200px;
}

.fix-me{
  position: fixed;
  top:400px;
}

.std-list li:first-child{
  background: red;
}

.std-list li:last-child{
  background: blue;
}

.std-list li:nth-child(5){
  background: yellow;
}

.std-list li:nth-child(even){
  background: grey;
}
